################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UnionArchitecture/FileContentIndex/7bead0ab-dd42-4cb1-b503-e6ac5976aa84.vsidx
